asgiref
bcrypt
cffi
cryptography
Django
django-mssql
django-mssql-backend
django-ninja
django-pyodbc-azure
ecdsa
passlib
pyasn1
pycparser
pydantic
PyJWT
pyodbc
python-jose
pytz
rsa
six
sqlparse
typing-extensions
django-jenkins
pep8
pyflakes
pylint
pytest-django
pytest-xdist
